.card {
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(216, 203, 20);
  }
  
  .card div {
    overflow: hidden;
    max-height: 400px;
  }
  .name {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
  }