   
.container {
    font-size: 20px;
    justify-content: space-around;
    margin-top: 1px;
    color: #ffffff;
  }
  .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  